extends layout

block content
  h1 Welcome to My Recipe Book
  p Use the navigation above to view, add, or explore recipes.
  p A few of my favorites are mexican foods such as chips and salsa or tacos.
  p I am also a big fan of baking! One of my favorites to make is chocolate crackles.
