doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav
        a(href='/') Home
        a(href='/recipes') Recipes
        a(href='/add') Add Recipe
    main
      block content
    footer
      p Created by Seven Aguirre!